.git
.gitignore
.gitmodules
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store


.venv/
pyproject.toml
uv.lock

# heavy build artifacts
**/build/
**/dist/
**/*.egg-info/

# editor / IDE
.vscode/
.idea/
*.swp
*.swo

# docker artifacts
compose.yaml
.dockerignore
